<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimu.boot.integration.dao.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.zimu.boot.integration.common.model.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM users where is_deleted=0
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM users
        WHERE id = #{id}
    </select>

    <insert id="add" parameterType="com.zimu.boot.integration.common.model.User">
        INSERT INTO users(name) VALUES(#{name})
    </insert>

    <update id="update" parameterType="com.zimu.boot.integration.common.model.User">
        UPDATE
        users
        SET
        <if test="name != null">name = #{name}</if>
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        UPDATE
        users
        SET
        is_deleted = 1
        WHERE
        id =#{id}
    </delete>
</mapper>